<div>
    <mat-toolbar>
        @if(!isSmallScreen) {
            <div>
                <img src="/assets/cymbal_shops_large.png" alt="Cymbal Shops" class="toolbar-logo" />
            </div>
        } @else {
            <div>
                <img src="/assets/small-logo.png" alt="Cymbal Shops" class="small-toolbar-logo" />
            </div>
        }
        
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button routerLink="/products">Product Search</button>
        <button mat-button (click)="openArchitectureDialog('assets/architecture.md')">Architecture</button>
        <span class="toolbar-spacer"></span>

        <div class="roleDiv">
            <button mat-button [matMenuTriggerFor]="roleMenu" aria-label="User role menu">
                Role: {{ currentRole }}
            </button>
        </div>
        

        <mat-menu #roleMenu="matMenu">
            <button mat-menu-item (click)="select('Admin')">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Admin</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="shopperMenu">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Shopper</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subscriberMenu">
                <mat-icon>verified_user</mat-icon>
                <span>Subscriber</span>
            </button>
        </mat-menu>

        <mat-menu #shopperMenu="matMenu">
            <button mat-menu-item (click)="select('Shopper (Paul Ramsey)')">Paul Ramsey</button>
            <button mat-menu-item (click)="select('Shopper (Evelyn Sterling)')">Evelyn Sterling</button>
            <button mat-menu-item (click)="select('Shopper (Arthur Kensington)')">Arthur Kensington</button>
            <button mat-menu-item (click)="select('Shopper (Penelope Wainwright)')">Penelope Wainwright</button>
            <button mat-menu-item (click)="select('Shopper (Sebastian Thorne)')">Sebastian Thorne</button>
        </mat-menu>

        <mat-menu #subscriberMenu="matMenu">
            <button mat-menu-item (click)="select('Subscriber (Basic)')">Basic Tier</button>
            <button mat-menu-item (click)="select('Subscriber (Intermediate)')">Intermediate Tier</button>
            <button mat-menu-item (click)="select('Subscriber (Premium)')">Premium Tier</button>
        </mat-menu>

    </mat-toolbar>
    <body>
        <router-outlet></router-outlet>
    </body>
</div>